.App {
  text-align: center;
}

.App-header {
  display: block;
  margin: 20px 0;
  background: linear-gradient(0deg, rgb(39, 33, 105) 0%, rgb(85, 82, 140) 100%);
  color: white;
  padding: 20px 0;
  font-family: serif;
}

.App-main {
  display: block;
  margin: 0 auto;
  font-family: serif;
}

.App-footer {
  display: block;
  margin: 10px 0 20px;
}
