.Dictionary {
  background: linear-gradient(
    0deg,
    rgb(205, 205, 205) 0%,
    rgb(240, 240, 240) 100%
  );
  padding: 50px;
}

.Dictionary form label {
  font-size: 20px;
}

.Dictionary input {
  background-color: white;
  font-style: italic;
  margin-top: 7px;
  padding: 5px 8px;
  width: 70%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) inset;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.Results,
.Meaning {
  text-align: start;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.Results .phonetic {
  font-weight: lighter;
}

.Meaning .synonyms {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Meaning .synonyms li {
  padding-right: 15px;
}

@media (max-width: 800px) {
  .Dictionary {
    padding: 20px;
  }
  .Dictionary form label {
    font-size: 17px;
  }
  .Dictionary form input {
    width: 100%;
  }
  .Results,
  .Meaning {
    padding: 15px;
  }
}
