.Dictionary {
  background-color: blanchedalmond;
  padding: 50px;
}

.Results {
  text-align: start;
  margin-top: 20px;
}

.phonetic {
  font-weight: lighter;
}

.synonyms {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0 15px 20px 0;
}
